# Build output
build/
dist/

# IDE files
.idea/
*.iml
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

release/

# Build temp dirs
linux_dir/
macarm_dir/
macosx_dir/
win_dir/
old_plugin/
