<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.5.xsd"
        name="hbci.datatransfer" version="2.4.4"
        class="de.willuhn.jameica.hbci.datatransfer.DataTransferPlugin">

  <description>OCR and QR code based SEPA transfer plugin for Hibiscus</description>
  <license>GPL</license>

  <requires jameica="2.10.0+">
    <import plugin="hibiscus" version="2.10.0+"/>
  </requires>

  <classfinder>
    <include>datatransfer\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <menu>
    <item id="datatransfer.menu" name="Daten-Transfer">
      <item id="datatransfer.menu.file" name="Datei (PDF/Bild)" shortcut="CTRL+SHIFT+D"
            action="de.willuhn.jameica.hbci.datatransfer.action.FileAction" />
      <item id="datatransfer.menu.clipboard" name="Zwischenablage" shortcut="CTRL+SHIFT+V"
            action="de.willuhn.jameica.hbci.datatransfer.action.ClipboardAction" />
      <item id="datatransfer.menu.webcam" name="Webcam (QR)" shortcut="CTRL+SHIFT+W"
            action="de.willuhn.jameica.hbci.datatransfer.action.WebcamAction" />
      <item id="datatransfer.menu.settings" name="Einstellungen"
            action="de.willuhn.jameica.hbci.datatransfer.action.SettingsAction" />
    </item>
  </menu>

  <navigation>
    <item id="datatransfer.navi" name="Daten-Transfer" icon-close="datatransfer-icon.png" icon-open="datatransfer-icon.png">
      <item id="datatransfer.navi.file" name="Datei (PDF/Bild)" icon-close="file-icon.png" icon-open="file-icon.png"
            action="de.willuhn.jameica.hbci.datatransfer.action.FileAction" />
      <item id="datatransfer.navi.clipboard" name="Zwischenablage" icon-close="clipboard-icon.png" icon-open="clipboard-icon.png"
            action="de.willuhn.jameica.hbci.datatransfer.action.ClipboardAction" />
      <item id="datatransfer.navi.webcam" name="Webcam (QR)" icon-close="webcam-icon.png" icon-open="webcam-icon.png"
            action="de.willuhn.jameica.hbci.datatransfer.action.WebcamAction" />
      <item id="datatransfer.navi.settings" name="Einstellungen" icon-close="settings-icon.png" icon-open="settings-icon.png"
            action="de.willuhn.jameica.hbci.datatransfer.action.SettingsAction" />
    </item>
  </navigation>

  <extension point="jameica.extension">
    <class>de.willuhn.jameica.hbci.datatransfer.DataTransferIO</class>
  </extension>

</plugin>
